.cus-colCurrent{
    /* background-color: aqua; */
    height: 45vh;
    border: solid black 1px;
}
.cus-colSearch{
    /* background-color: brown;  */
    height: 20vh;

}
.cus-col12{
    /* background-color:#0d6efd; */
    background-image: linear-gradient(to right, #0d6efd, rgba(2, 2, 34, 0.629));
    height: 10vh;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 40px;
    
}

.rowNew{
    margin-left: 100px;
}

.newContainer{
    display: flex;
    flex-direction: column;
}

.topNew{
    display: flex;
    flex-direction: row;
}

.topLeftNew{
    width:fit-content;
    margin-left: 160px;
}

.topRightNew{
    width: 60vw;
    height: 300px;
    margin-left: 60px;
    border:black solid 2px;
    
  
}

/* .forecastContainer{
    background-color: magenta;
    height: fit-content;
   
} */

.cus-row{
    display: flex;
    justify-content: center;
    align-items: center;

}



.cusRow{
display:inline-flex;
align-items: center;
justify-content: center;
flex:0,0,5;

}

.cus-colStored{
    /* background-color: violet; */
    height:fit-content;
    display:flex;
    flex-direction: column;
  

}

.btn-cus{
    height: 50px;
    width: 50px;
    /* background-color: aquamarine; */
}


.UVSpaceGreen{
    height: 30px;
    width: 60px;
    background-color: green;
    color: white;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UVSpaceAmber{
    height: 30px;
    width: 60px;
    background-color:orange;
    color: white;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UVSpaceRed{
    height: 30px;
    width: 60px;
    background-color: red;
    color: white;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.top{
    
    width: 80vw;
    /* height: 25vw; */
    display: flex;
    flex-direction: row;
    margin-left: 50px; 
}

.topLeft{
  
    width: 30vw;
    /* height: 50vh; */
    
    margin-left: 80px;
    
}

.topRight{
    width: 70vw;
    height: 200px;
    /* height: 300px;  */
    /* border: black solid 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.bottom{
    width: 80vw;
    height: 25vw;
    display: flex;
    flex-direction: row;
    margin-left: 22px;
}

/* .bottomLeft{
    width: 30vw;
    height: 50vh;
    background-color:navy;
} */

.bottomRight{
    width: 100vw;
    height: 50vh;
    margin-left: 650px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}

.cityButton{
    height:30px;
    margin:2px;
    border-radius: 8%;
   


}

.searchButton{
    background-color:#0d6efd;
    color: white;
    width:185px;
    border-radius: 4px;
}

.dayOneCard{
    height:80px;
    width: 50px;
    background-color: brown;
}

.cusCard{
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    
}