.cus-colCurrent{
    /* background-color: aqua; */
    height: 45vh;
    border: solid black 1px;
}
.cus-colSearch{
    /* background-color: brown; */
    height: 20vh;

}
.cus-col12{
    background-color: blue;
    height: 10vh;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    
}

.cus-row{
    display: flex;
    justify-content: center;
    align-items: center;

}

.cus-colStored{
    /* background-color: violet; */
    height:70vh;
    display:flex;
    flex-direction: column;

}

.btn-cus{
    height: 50px;
    width: 50px;
    /* background-color: aquamarine; */
}


.UVSpaceGreen{
    height: 30px;
    width: 60px;
    background-color: green;
    color: white;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UVSpaceAmber{
    height: 30px;
    width: 60px;
    background-color:orange;
    color: white;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UVSpaceRed{
    height: 30px;
    width: 60px;
    background-color: red;
    color: white;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}